{% for product in  products %}
    <div class="col-lg-3 justify-content-center mb-3 col-md-4 col-10 offset-1 offset-md-0">
        <a class='product-link' href="{% url 'product' product.id %}">
            <div class="card">
                <img class="card-img-top pt-3" src="media/{{ product.image }}" alt="">
                <div class="card-body">
                    <h6 class="card-title text-center">{{ product.name }}</h6>
                    <div class="row mr-2 ml-2">
                        {#  TODO change later to convert price to localized rate#}
                        <p class="col-12 col-lg-5">£{{ product.price }}</p>
                        <button class="col-12 col-lg-7 btn btn-dark">Add to Cart</button>
                    </div>
                </div>
            </div>
        </a>
    </div>
{% endfor %}
